extends layout 

block content
    div(class="fix-header fix-sidebar")
        div(class="preloader")
            svg(class="circular" viewBox="25 25 50 50")
                circle(class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")
        div(id="main-wrapper")
            include panel
            div(class="page-wrapper")
                div(class="row page-titles")
                    div(class="col-md-5 align-self-center")
                        h3(class="text-skyran-3 Montserrat-Bold") Billing
                    div(class="col-md-7 align-self-center")
                        ol(class="breadcrumb Montserrat-Medium")
                            li(class="breadcrumb-item")
                                a(href="javascript:void(0)") Home
                            li(class="breadcrumb-item active") Billing
                div(class="container-fluid")
                    div(class="row")
                        div(class="col-12")
                            div(class="card")
                                div(class="card-body")
                                    h4(class="card-title Montserrat-Bold text-skyran-3") Choose at least one billing method and fill the form :
                                    h6(class="card-subtitle Montserrat-Regular mb-3") For the "Billing by User" option you'll have to provide a recepient from the "Billing by Recepient" form
                                    form(class="Montserrat-Bold" method="post" action="/asterisk/billing")
                                        button(class="btn bg-skyran-3 text-white Montserrat-Bold mb-2" type="button" data-toggle="collapse" data-target="#billByUser" aria-expanded="false") Billing by User
                                        div(class="row")
                                            div(class="col")
                                                div(class="collapse" id="billByUser")
                                                    div(class="card card-body") 
                                                        div(class="form-group row")
                                                            div(class="col-md-3")
                                                                label(for="accountcode" class="form-label") Enter user phone number :
                                                                input(type="text" class="form-control rounded" id="src" name="src")
                                        h6(class="card-subtitle Montserrat-Regular mt-3") For the "Billing by Period" option you'll have to provide a recepient from the "Billing by Recepient" form
                                        button(class="btn bg-skyran-3 text-white Montserrat-Bold mb-5" type="button" data-toggle="collapse" data-target="#billByPeriod" aria-expanded="false") Billing by Period
                                        div(class="row")
                                            div(class="col")
                                                div(class="collapse" id="billByPeriod")
                                                    div(class="card card-body") 
                                                        div(class="row")
                                                            div(class="mb-3 col")
                                                                div(class="datepicker date input-group d-flex align-items-center mb-2")
                                                                    input(type="text" class="form-control shadow rounded-3" placeholder="From" id="from" name="from")
                                                            div(class="mb-3 col")
                                                                div(class="datepicker date input-group d-flex align-items-center")
                                                                    input(type="text" class="form-control shadow rounded-3" placeholder="To" id="to" name="to")
                                        button(class="btn bg-skyran-3 text-white Montserrat-Bold mb-2" type="button" data-toggle="collapse" data-target="#billByRecipient" aria-expanded="false") Billing by Recipient
                                        div(class="row")
                                            div(class="col")
                                                div(class="collapse" id="billByRecipient")
                                                    div(class="card card-body") 
                                                        div(class="form-group row")
                                                            div(class="col-md-3")
                                                                label(for="recepient" class="form-label") Enter recepient phone number :
                                                                input(type="text" class="form-control rounded" id="recepient" name="recepient")
                                        h6(class="card-subtitle Montserrat-Regular mt-5") Make sure you've filled at least one of the above forms before proceeding
                                        button(type="submit" class="btn bg-skyran-3 Montserrat-Bold text-white") Proceed


  
                                                                                    

