extends layout 

block content
    include head
    div(class="container")
        h3(class="my-5 text-center text-white Montserrat-Bold") Billing Details    
        table(class="table bg-asterisk Montserrat.Regular text-white border border-secondary shadow table-borderless table-hover")
            thead(class="shadow")
                tr
                    th(scope="col") From
                    th(scope="col") To
                    th(scope="col") Destination
                    th(scope="col") Total Duration
                    th(scope="col") Unit Cost
                    th(scope="col") Total Cost
            tbody
                tr
                    td(class="w-25")=from
                    td(class="w-25")=to
                    td 8001
                    td=totalDuration+" seconds"
                    td 2 fcfa/second
                    td=totalCost+" fcfa"
