nav(class="navbar navbar-expand-lg navbar-light bg-secondary")
  div(class="container")
    a(class="navbar-brand" href="#")
      img(src="/images/asteriskLogoOrange.png" alt="Asterisk" width="175" height="30")
    ul(class="navbar-nav justify-content-end")
      li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle text-white Montserrat-Bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{username+' '}
          img(src="/images/avatar.png" width="40" height="40" class="rounded-circle") 
        ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
          li
            a(class="dropdown-item" href="/asterisk/logout") Log Out