extends layout

block content
    div(class="preloader")
        svg(class="circular" viewBox="25 25 50 50")
            circle(class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")
    div(id="main-wrapper")
        div(class="unix-login")
            div(class="container-fluid")
                div(class="row justify-content-center")
                    div(class="col-lg-4")
                        div(class="login-content card")
                            div(class="login-form")
                                img(src="/images/logoSkyran.png" class="rounded mx-auto d-block mb-3" alt="skyran" width="115" height="70")
                                h4(class="Montserrat-Medium text-skyran-3") Connect to dashboard
                                form(class="Montserrat-Medium" method="post" action="/login/connect")
                                    div(class="form-group")
                                        label(class="text-skyran-3 text-capitalize") User name
                                        input(type="text" class="form-control rounded text-skyran-1" name="username")
                                    div(class="form-group")
                                        label(class="text-skyran-3 text-capitalize") Password
                                        input(type="password" class="form-control rounded text-skyran-1" name="password")
                                    div(class="checkbox")
                                        label(class="pull-right")
                                            a(href="#" class="text-skyran-3") Forgotten Password ?
                                    button(type="submit" class="btn bg-skyran-1 btn-flat m-b-30 m-t-30 text-white") Sign in
