div(class="header")
    nav(class="navbar top-navbar navbar-expand-md navbar-light")
        div(class="navbar-header")
            a(class="navbar-brand" href="index.html")
                b
                    img(src="/images/logoSkyran.png" alt="Asterisk" width="60" height="40")
        div(class="navbar-collapse")
            ul(class="navbar-nav mr-auto mt-md-0")
                li(class="nav-item")
                    a(class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)")
                        i(class="mdi mdi-menu")
                li(class="nav-item m-l-10")
                    a(class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)")
                        i(class="ti-menu")
            ul(class="navbar-nav my-lg-0")
                li(class="nav-item dropdown")
                    a(class="nav-link text-muted " href="#")
                        img(src="/images/avatar.png" width="40" height="40" class="rounded-circle") 
div(class="left-sidebar")
    div(class="scroll-sidebar")
        nav(class="sidebar-nav")
            ul(id="sidebarnav")
                li(class="nav-devider")
                li 
                    a(href="#calls" class="mt-5 has-arrow" role="button" aria-expanded="false" aria-controls="calls" data-toggle="collapse")
                        i(class="fa fa-phone text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3 hide-menu") Calls Management
                    div(class="collapse" id="calls")
                        ul
                            li
                                a(href="/asterisk/dashboard" class="Montserrat-Bold text-skyran-3") Call Data Records
                            li
                                a(href="/asterisk/callsReceived" class="Montserrat-Bold text-skyran-3") Calls Received
                            li
                                a(href="/asterisk/outgoingCalls" class="Montserrat-Bold text-skyran-3") Outgoing Calls
                            li
                                a(href="/asterisk/callsByUser" class="Montserrat-Bold text-skyran-3") Calls by User
                li 
                    a(href="/asterisk/usersManagement" class="mt-5")
                        i(class="fa fa-users text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Users Management
                li 
                    a(href="/asterisk/billing" class="mt-5")
                        i(class="fa fa-money text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Billing
                li 
                    a(href="/asterisk/bills" class="mt-5")
                        i(class="fa fa-table text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Bills
                li 
                    a(href="/asterisk/contact" class="mt-5")
                        i(class="fa fa-phone-square text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Contact us        
                li 
                    a(href="/asterisk/settings" class="mt-5")
                        i(class="fa fa-cogs text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Settings
                li 
                    a(href="/asterisk/logout" class="mt-5")
                        i(class="fa fa-sign-out text-skyran-3")
                        span(class="Montserrat-Bold text-skyran-3") Sign out