div(class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-content text-white bg-transparent")
      div(class="modal-header border-0")
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      div(class="modal-body")
        form(method="post" action="/asterisk/billing")
          div(class="row")
            div(class="mb-3 col")
              div(class="datepicker date input-group d-flex align-items-center bg-secondary mb-2")
                input(type="text" class="form-control h-25 mx-2 shadow rounded-3" placeholder="From" id="from" name="from")
              div(class="datepicker date input-group d-flex align-items-center bg-secondary")
                input(type="text" class="form-control h-25 mx-2 shadow rounded-3" placeholder="To" id="to" name="to")
          div(class="text-center px-3")
            button(type="submit" class="btn bg-secondary Montserrat-Bold text-white mt-3 shadow") Continue
