if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
    nav(class="mt-5")
        ul(class="pagination justify-content-end")
            li 
                a(class="btn bg-asterisk text-white border-0 shadow Montserrat-Bold me-2" href="#" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop")
                    i(class="fas fa-file-invoice-dollar")
            li 
                a(class="btn bg-asterisk text-white border-0 shadow Montserrat-Bold me-2" href="#" type="button")
                    i(class="fas fa-print")
            if paginate.hasPreviousPages
                li(class="page-item")
                    a(href=paginate.href(true) class="page-link text-white Montserrat-Bold bg-asterisk border-0 shadow rounded" tabindex="-1").prev
                        span(aria-hidden="true") &laquo;
            if pages
                each page in pages
                    li(class="page-item")
                        a(class="page-link text-white Montserrat-Bold bg-asterisk border-0 shadow rounded" href=page.url)=page.number
            if paginate.hasNextPages(pageCount)
                li(class="page-item")
                    a(href=paginate.href() class="page-link text-white Montserrat-Bold bg-asterisk border-0 shadow rounded").next
                        span(aria-hidden="true") &raquo;

include billingModal